/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.todoodle-modal-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todoodle-title-input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--background-modifier-border);
  background-color: var(--background-primary);
  color: var(--text-normal);
  width: 100%;
}

.todoodle-submit-button {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.todoodle-submit-button:hover {
  background-color: var(--interactive-accent-hover);
}
